<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="cn.lyp.springframework.test.testResourceLoad.bean.UserDao"/>

    <bean id="userService" class="cn.lyp.springframework.test.testResourceLoad.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>